@font-face {
    font-family: "Montserrat Thin";
    src: url("Montserrat-ThinItalic.eot"); /* IE9 */
    src: url("Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Montserrat-ThinItalic.woff") format("woff"), /* chrome, firefox */
    url("Montserrat-ThinItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Montserrat-ThinItalic.svg#Montserrat Thin") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


