@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-BoldItalic.eot"); /* IE9 */
    src: url("Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Montserrat-BoldItalic.woff") format("woff"), /* chrome, firefox */
    url("Montserrat-BoldItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Montserrat-BoldItalic.svg#Montserrat") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


