@font-face {
    font-family: "Montserrat Black";
    src: url("Montserrat-BlackItalic.eot"); /* IE9 */
    src: url("Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Montserrat-BlackItalic.woff") format("woff"), /* chrome, firefox */
    url("Montserrat-BlackItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Montserrat-BlackItalic.svg#Montserrat Black") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


