@font-face {
    font-family: "Montserrat Medium";
    src: url("Montserrat-MediumItalic.eot"); /* IE9 */
    src: url("Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Montserrat-MediumItalic.woff") format("woff"), /* chrome, firefox */
    url("Montserrat-MediumItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Montserrat-MediumItalic.svg#Montserrat Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


