/* font-family: "PFSquareSansProRegular"; */

@font-face {
    font-family: "PFSquareSansProRegular";
    src: url("../fonts/PFS/PFSquareSansPro-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFSquareSansProMedium"; */

@font-face {
    font-family: "PFSquareSansProMedium";
    src: url("../fonts/PFS/PFSquareSansPro-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFSquareSansProBold"; */

@font-face {
    font-family: "PFSquareSansProBold";
    src: url("../fonts/PFS/PFSquareSansPro-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

body {
    font-family: PFSquareSansProRegular !important;
}

/*--------------header--------------*/
.header {
    padding-top: 15px;
    position: relative;
    z-index: 1;
}

.top-logo {
    background: url('../images/system/logo.png') no-repeat;
    width: 220px;
    height: 73px;
    float: left;
    margin-bottom: 13px;
}

.header-contacts {
    position: relative;
    top: 14px;
    float: right;
}

.call-number, .call-number:hover, .call-number:visited, .call-number:link {
    color: #949494;
    font-size: 16px;
    padding-right: 10px;
    font-family: "PFSquareSansProMedium";
    text-decoration: none;
}

.btn-call-top {
    font-family: "PFSquareSansProMedium";
    border: none;
    font-size: 16px;
    border-radius: 3px;
    background: #e9f0f2;
    color: #2b8bc2;
    font-weight: 400;
    padding: 8px 15px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: 0.3s;
}

.btn-call-top:focus, .btn-application:focus, .btn-buy:focus {
    outline: none;
    box-shadow: none;
}
/*----------- end header-----------*/

/*----------- start-page-----------*/
.start-page {
    background: url('../images/system/start_page_bg.jpg');
    width: 100%;
    height: 636px;
    background-position: center;
}

.text-50px-blue {
    font-size: 50px;
    padding-top: 70px;
    color: #3aa2e1;
    font-family: "PFSquareSansProMedium";
    position: relative;
    z-index: 1;
}

.text-18px-gray {
    font-size: 18px;
    color: #838795;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: "PFSquareSansProRegular";
    position: relative;
    z-index: 1;
}

.btn-application {
    width: 230px;
    height: 48px;
    background: #2898e1 linear-gradient(to top, #2b7ad2, #4bcef1);
    color: #fff;
    font-family: "PFSquareSansProMedium";
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
    border: none;
    position: relative;
    z-index: 1;
}

.edgeLoad-EDGE-332351892 {
    visibility: hidden;
}

.start-page .EDGE-332351892 {
    position: relative !important;
    height: 550px !important;
    width: 1565px !important;
    z-index: 0 !important;
    right: 1070px !important;
    bottom: 127px !important;
    background-color: transparent !important;
    overflow: hidden !important;
    text-overflow: clip !important;
    background-size: 100% 100% !important;
}
/*---------end start-page-----------*/

/*----------- Преимущества-----------*/
.block-title {
    font-size: 44px;
    font-family: "PFSquareSansProMedium";
    color: #5d676f;
}

.advantages {
    color: #808080;
    font-size: 18px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.advantages:after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    margin-top: 15px;
    background: linear-gradient(-90deg, rgba(30, 87, 153, 0), #ebebeb);
}

.sprites-advantages {
    background: url('../images/system/sprites-advantages.png') no-repeat;
    height: 35px;
    width: 65px;
    position: relative;
    float: left;
}

.advantages-page {
    padding: 100px 0 70px 0;
    background: linear-gradient(to top, #f6f6f6, #fefefe);
    background-image: url('../images/system/advantages-bg.jpg');
    position: relative;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: center;
}

.car {
    background-position: 0 0;
}

.condition {
    background-position: 0 -60px;
}

.garant {
    background-position: 0 -120px;
}

.star {
    background-position: 0 -180px;
}

.key {
    background-position: 0 -240px;
}
/*--------- end Преимущества---------*/

/*--------- Как мы работаем---------*/
.we-working-page {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.13);
    position: relative;
    z-index: 1;
    padding: 100px 0 40px 0;
}

.we-working-container {
    margin: auto;
    margin: 80px 0 100px 0;
}

.line-bg {
    background: url('../images/system/line-bg.png') repeat-x;
    background-position: center;
    width: 937px;
    height: 1px;
    position: absolute;
    margin: auto;
    margin: 84px 101px 0 69px;
}

.we-working-cell {
    width: 180px;
    top: 28px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.radial-cell {
    border: 1px solid #cccccc;
    border-radius: 100%;
    width: 107px;
    margin: auto;
    background: #fff;
}

.little-radial-cell {
    border: 1px solid #cccccc;
    color: #ccc;
    border-radius: 100%;
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #fff;
    margin-left: 7px;
    padding: 2px;
}

.sprites-we-works {
    background: url('../images/system/sprites-we-works.png') no-repeat;
    width: 107px;
    height: 107px;
}

.application {
    background-position: 8px 15px;
}

.room {
    background-position: 11px -66px;
}

.treaty {
    background-position: 12px -160px;
}

.montage {
    background-position: 8px -242px;
}

.air {
    background-position: 8px -328px;
}

.we-working-info {
    text-align: center;
    color: #6d6f71;
    font-size: 18px;
    font-family: "PFSquareSansProMedium";
}
/*------ end Как мы работаем---------*/

/*--- - - - - - - Каталог -------------------*/
.catalog-page {
    padding: 100px 0 40px 0;
}

.btn-buy {
    height: 48px;
    width: 100%;
    background: #2898e1 linear-gradient(to top, #2b7ad2, #4bcef1);
    color: #fff;
    font-family: "PFSquareSansProMedium";
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
    border: none;
}

.tovar {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    width: 270px;
    padding-top: 15px;
    margin: 0 auto 35px auto;
}

.tovar-header {
    min-height: 56px;
}

.tovar-title {
    color: #3aa2e1;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "PFSquareSansProMedium";
}

.tovar .tovar-photo {
    height: 150px;
    background-position: center;
}

.tovar-1 {
    background: url('../images/content/tovar-1.jpg') no-repeat;
}

.tovar-2 {
    background: url('../images/content/tovar-2.jpg') no-repeat;
}

.tovar-3 {
    background: url('../images/content/tovar-3.jpg') no-repeat;
}

.tovar-4 {
    background: url('../images/content/tovar-4.jpg') no-repeat;
}

.tovar-5 {
    background: url('../images/content/tovar-5.jpg') no-repeat;
}

.tovar-6 {
    background: url('../images/content/tovar-6.jpg') no-repeat;
}

.tovar-7 {
    background: url('../images/content/tovar-7.jpg') no-repeat;
}

.tovar-8 {
    background: url('../images/content/tovar-8.jpg') no-repeat;
}

.tovar-info {
    padding: 0 15px 0 15px;
    line-height: 25px;
    padding-bottom: 20px;
}

.tovar-info-params {
    font-size: 14px;
    color: #7c7c7c;
    float: right;
}

.tovar-info-title {
    font-size: 14px;
    color: #bbbaba;
}

.tovar .price-block {
    padding-right: 0;
}

.price {
    font-size: 22px;
    color: #475c72;
    margin: 0;
    font-family: "PFSquareSansProMedium";
}

.old-price {
    font-size: 18px;
    color: #c4c4c4;
    text-decoration: line-through;
    font-family: "PFSquareSansProMedium";
}

.catalog-page .btn-sow-catalog, .catalog-page .btn-sow-catalog:hover {
    font-family: "PFSquareSansProMedium";
    border: none;
    font-size: 16px;
    border-radius: 3px;
    background: #e9f0f2;
    color: #7ca5c7;
    font-weight: 400;
    padding: 8px 15px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: 0.3s;
    margin-top: 20px;
}

.collapse .well {
    box-shadow: none;
    border: none;
    background: none;
    padding: 15px;
    padding-top: 0;
}
/*--- - - - - - end Каталог -----------------*/

/*--- - - - - - - - Доп услуги ----------------------*/
.add-services-page {
    padding: 100px 0 120px 0;
    background: url('../images/system/Add-services-bg.jpg');
    background-position-x: center;
    font-family: "PFSquareSansProMedium";
}

.add-services-container {
    margin: 80px 0 100px 0;
    text-align: center;
}

.add-services-cell {
    width: 210px;
    top: 28px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.add-services-cell-image {
    width: 107px;
    margin: auto;
}

.sprites-add-services {
    background: url('../images/system/add-services-sprites.png') no-repeat;
    width: 107px;
    height: 107px;
    background-size: 100%;
}

.service {
    background-position: center 30px;
}

.flushing {
    background-position: center -60px;
}

.fixueling {
    background-position: center -160px;
}

.cleaning {
    background-position: center -256px;
}

.repairs {
    background-position: center -343px;
}

.add-services-info {
    color: #7f8e9a;
    font-size: 18px;
    height: 55px;
    margin-bottom: 25px;
}

.btn--to-order-service {
    border: 1px solid #0e90fe;
    color: #0e90fe;
    background: none;
    border-radius: 2px;
    padding: 10px 26px;
    transition: 0.2s;
}

.btn--to-order-service:hover {
    border: 1px solid #0e90fe;
    color: #fff;
    background: #0e90fe;
    border-radius: 2px;
    padding: 10px 26px;
    transition: 0.2s;
}
/*--- - - - - - - end Доп услуги ----------------------*/

/*--- - - - - - - - Рекуператор ----------------------*/
.rekuperator-page {
    padding: 100px 0 10px 0;
}

.recuperator-info {
    font-size: 18px;
    color: #464646;
    width: 440px;
    padding: 15px 0 55px 0;
    text-align: justify;
}

.recuperator-info p {
    padding-bottom: 15px;
}

.container .nav-tabs>li.active>a, .container .nav-tabs>li.active>a:focus, .container .nav-tabs>li.active:hover>a, .container .nav-tabs>li:hover>a {
    background-color: #2890fa;
    border-radius: 5px;
    color: #fff;
}

.container .nav-tabs li {
    margin-bottom: 0;
}

.container .nav-tabs>li>a {
    width: 95px;
    text-align: center;
    border-radius: 5px;
    color: #aaaaaa;
    margin-right: 0;
}

.container .nav-tabs {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 194px;
    padding-left: 1px;
    padding-right: 0;
}

.nav-tabs p {
    margin: 0;
    font-size: 18px;
}

.recup-seson {
    font-size: 16px;
    color: #c8c8c8;
    padding: 15px 0 0 0;
}

.recup-winter {
    background: url('../images/content/recup-winter.png') no-repeat;
    height: 475px;
    width: 580px;
    position: relative;
    background-position-x: center;
    left: -100px;
}

.recup-summer {
    background: url('../images/content/recup-summer.png') no-repeat;
    height: 475px;
    width: 580px;
    position: relative;
    background-position-x: center;
    left: -100px;
}
/*--- - - - - - --- end Рекуператор -------------------*/

/*------------------- Наши работы-----------------------*/
.block-title-white {
    font-size: 44px;
    padding-bottom: 50px;
    font-family: "PFSquareSansProMedium";
    color: #fff;
}

.portfolio-page {
    background: #3d3d3d;
    padding: 40px 0 130px 0;
    margin-bottom: 30px;
}

.col-xs-12 .owl-theme .owl-nav {
    margin-top: 0px;
    top: 39%;
    position: absolute;
    width: 100%;
}

.owl-next {
    position: absolute;
    right: -40px;
    background: url("../images/arrow-right.png") !important;
    width: 15px;
    height: 80px;
    opacity: 1;
}

.owl-next:focus {
    opacity: 1;
}

.owl-next:hover {
    opacity: 0.5;
}

.owl-prev {
    position: absolute;
    left: -40px;
    background: url("../images/arrow-left.png") !important;
    width: 15px;
    height: 80px;
    opacity: 1;
}

.owl-prev:focus {
    opacity: 1;
}

.owl-prev:hover {
    opacity: 0.5;
}
/*--------------- end Наши работы ----------------*/

/*--- - - - - - - ----- Отзывы ------------------------*/
.review-page {
    background: #2898e1;
    background: radial-gradient(#2b7ad2, #4bcef1);
    background-position: 811px -276px;
    padding: 40px 0 130px 0;
}

.review-block {
    background: #fff;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.review-photo {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    margin: auto;
    top: -64px;
    position: relative;
    margin-bottom: -45px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
}

.photo-1 {
    background: url('../images/content/photo-1.jpg');
    background-position: -25px -5px;
}

.delimiter {
    background: url('../images/system/delimiter.png')no-repeat;
    height: 10px;
    background-position: center;
    margin-bottom: 15px;
}

.review-name {
    color: #3ba4e1;
    font-size: 20px;
    font-family: "PFSquareSansProMedium";
    text-align: center;
}

.review-text {
    color: #264965;
    font-size: 16px;
}

.review-page .owl-item {
    padding: 45px 0 15px 0;
}
/*--- - - - - - - - - end Отзывы ----------------------*/

/*------------------ Партнеры -------------------*/
.partners-page {
    padding: 100px 0 150px 0;
    background: url('../images/system/partners-bg.png');
    background-position: center 64px;
}

.partners-sprites {
    background: url('../images/content/partners.png');
    height: 120px;
    width: 305px;
    margin: auto;
}

.lg {
    background-position: 29px 0;
}

.samsung {
    background-position: -302px 0;
}

.electrolux {
    background-position: -635px 0;
}

.panasonic {
    background-position: 29px -95px;
}

.mitsubishi {
    background-position: -302px -95px;
}

.gree {
    background-position: -635px -95px;
}

.bailu {
    background-position: 29px -200px;
}

.hisense {
    background-position: -302px -200px;
}

.daikin {
    background-position: -635px -200px;
}

.partners-container {
    padding-top: 40px;
}
/*---------------- end Партнеры -----------------*/

/*----------------- Контакты --------------------*/
.contacts-form {
    width: 970px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.31);
    margin: auto;
    border-radius: 5px;
    position: relative;
    top: 268px;
    margin-top: -268px;
    background: #fff;
}

.form2 {
    padding: 0 0 40px 43px;
}

.form-title {
    font-size: 32px;
    padding-top: 30px;
    color: #3aa2e1;
    font-family: "PFSquareSansProMedium";
}

.text-16px-gray {
    color: #ababab;
    font-size: 16px;
}

.contacts-form .form-input {
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    padding: 3px 0 0 5px;
    font-size: 18px;
    color: #4f4f4f;
}

.form-input:focus {
    outline: none;
}

.line-rotate {
    width: 1px;
    height: 342px;
    background: #ededed;
    transform: rotate(20deg);
    margin: -10px auto;
}

.contacts-block {
    padding-right: 50px;
    text-align: right;
}

.contact-type {
    font-size: 18px;
    color: #c2c2c2;
}

.contact-info {
    font-size: 18px;
    color: #949494;
    font-family: "PFSquareSansProMedium";
}

.map {
    margin-bottom: -6px;
}
/*--------------- end Контакты ------------------*/

/*------------------footer-----------------------*/
.footer {
    background: #505050;
    height: 97px;
    padding-top: 22px;
}

.copiright {
    background: url('../images/system/pride-logo.png')no-repeat;
    height: 55px;
    width: 139px;
    background-position: center;
    float: right;
}
/*---------------end footer----------------------*/
