/* font-family: "GothamProItalic"; */
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBlack"; */
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBlackItalic";
  src: url("../fonts/GothamProBlackItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProItalic"; */
@font-face {
  font-family: "GothamProBoldItalic";
  src: url("../fonts/GothamProItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProLight"; */
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProLightItalic"; */
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium.ttf");
  font-style: normal;
  font-weight: normal; }
