@media screen and (min-width: 1620px) {
    .container {
        width: 1600px;
    }
}

@media screen and (max-width: 362px) {
    .block-production .title {
        font-size: 2.2em;
    }
    .block-start .cell .radial-cell {
        height: inherit;
        width: inherit;
    }
}

@media screen and (max-width: 475px) {

    .block-start {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.22)), url(../images/system/block-start-bg.jpg)no-repeat center center fixed;
    }

    .block-complectation .title {
        font-size: 2.2em;
    }

    .block-complectation h3 {
        font-size: 1.3em;
    }

    .btn-white {
        font-size: 1.8em;
    }

    .examples-slider .title {
        font-size: 2.2em;
    }

    .block-bended-panels .subtitle {
        font-size: 1.7em;
    }

    .block-bended-panels .title {
        font-size: 2.2em;
    }

    .fences .title {
        font-size: 2.2em;
    }

    .block-start .title h1 {
        padding: 15px 0 35px 0;
    }


    .examples .image {
        width: 100%;
        max-height: 460px;
    }

    .examples .image:hover {
        width: 100%;
    }

    .examples .mask {
        padding: 15px;
    }

    .block-start .cell {
        display: flex;
        width: 100%;
    }

    .block-start .cell .radial-cell {
        height: 55px;
        width: 55px;
        display: flex;
        margin: 0;
    }

    .block-start .cell p {
        font-size: 1.35em;
        color: #fff;
        padding: 0 15px;
        display: flex;
        max-width: 190px;
        text-align: left;
    }

    .block-complectation .fixing-examples .radial-cell {
        width: 120px;
        height: 120px;
    }

    .gates-and-wickets .content {
        max-height: 480px;
        margin: 0 auto;
    }

    .gates-and-wickets .content .table-row div {
        padding: 0;
        vertical-align: middle;
    }

}

@media screen and (min-width: 568px) and (max-width: 736px) {
    .gates-and-wickets .content {
        height: 539px;
    }
}

@media screen and (max-width: 630px) {
    .call-number, .navbar-brand {
        float: none;
        text-align: center;
    }
}



@media screen and (min-width: 475px) and (max-width: 768px){
    .examples .image {
        width: 50%;
        max-height: 475px;
    }

    .examples .image:hover {
        width: 50%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1300px){
    .examples .image {
        width: 25%;
        max-height: 395px;
    }

    .examples .image:hover {
        width: 25%;
    }
}

@media screen and (max-width: 560px) {
    .fences .radial-cell {
        width: 120px;
        height: 120px;
        margin: 20px auto;
    }

    .gates-and-wickets {
        padding: 25px 0 15px 0;
    }
}

@media screen and (max-width: 768px) {
    .btn-orange {
        font-size: 1.8em;
    }

    .block-start .title h1 {
        font-size: 3em;
    }

    .block-start {
        padding: 0;
    }

    .navbar-brand {
        height: inherit;
    }

    .block-complectation .radial-cell {
        float: none;
        margin: auto;
    }

    .examples-slider .left-image, .examples-slider .right-image {
        width: 100%;
    }

    .mask p {
        font-size: 25px;
    }


}

@media screen and (max-width: 1200px) {
    .block-production .image {
        margin: auto;
    }
    .fences .content {
        padding: 35px 0 58px 0;
    }
}

@media screen and (max-width: 1300px) {
    .examples {
        max-height: inherit;
        flex-wrap: wrap;
    }
}