@media screen and (min-width: 1747px) {
  .block-first-screen .fixed-top-menu .header {
    width: 55.5%; } }

@media screen and (max-width: 1660px) {
  .block-our-affairs .to-do-desk {
    height: auto;
    max-height: inherit; }
    .block-our-affairs .to-do-desk table .itog {
      position: relative;
      border-top: 1px solid rgba(42, 53, 59, 0.4); }
      .block-our-affairs .to-do-desk table .itog:before {
        display: none; } }

@media screen and (min-width: 1569px) and (max-width: 1747px) {
  .block-first-screen .fixed-top-menu .header {
    width: 50%; } }

@media screen and (max-width: 1568px) {
  .block-first-screen .fixed-top-menu .header {
    width: 100%; }
  .block-first-screen .fixed-top-menu .menu {
    margin: auto; } }

@media screen and (min-width: 1300px) {
  .fixed-top-menu {
    padding: 0 65px; } }

@media screen and (min-width: 1280px) and (max-width: 1799px) {
  .contacts .desk form input {
    max-width: 100%;
    text-align: center; } }

@media screen and (max-width: 1279px) {
  .contacts {
    flex-direction: column; }
    .contacts .desk, .contacts .map {
      width: 100%; }
    .contacts .desk {
      padding: 25px;
      height: auto; } }

@media screen and (max-width: 1175px) {
  .block-primary-customer .logotype {
    display: none; } }

@media screen and (max-width: 1063px) {
  .block-descroption .description-desc {
    display: block; }
    .block-descroption .description-desc .left-column, .block-descroption .description-desc .right-column {
      max-width: 100%;
      text-align: left; }
    .block-descroption .description-desc .right-column {
      justify-content: flex-start; }
  .block-advantages {
    padding: 45px 25px 45px; }
    .block-advantages .desk-container .desk {
      margin: 0 55px;
      padding: 25px 40px; } }

@media screen and (max-width: 1024px) {
  .block-our-affairs .to-do-list {
    justify-content: flex-start; } }

@media screen and (min-width: 768px) and (max-width: 1568px) {
  .block-first-screen .header-container .fixed-top-menu .header {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 65px 10px; } }

@media screen and (min-width: 768px) and (max-width: 1125px) {
  .block-first-screen .header-container header .header {
    margin: auto; }
  .block-first-screen .header-container header .menu {
    margin: auto; } }

@media screen and (min-width: 767px) and (max-width: 1063px) {
  .block-descroption .description-desc {
    padding: 45px 50px; }
    .block-descroption .description-desc .left-column {
      font-size: 26px; } }

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .block-our-affairs .to-do-list .nav-tabs {
    max-height: 203px; } }

@media screen and (min-width: 768px) and (max-width: 925px) {
  .navbar-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

@media screen and (min-width: 767px) and (max-height: 850px) {
  .block-primary-customer p {
    font-size: 17px; } }

@media screen and (min-width: 767px) and (max-width: 779px) {
  .block-descroption .description-desc .right-column {
    font-size: 18px; } }

@media screen and (max-width: 1024px) {
  .block-our-affairs {
    flex-wrap: wrap; }
  .block-download-price {
    padding: 0 25px; } }

@media screen and (max-width: 1023px) {
  .block-download-price {
    padding: 15px;
    justify-content: center; } }

@media screen and (max-width: 912px) {
  .contacts .desk {
    max-height: inherit;
    padding: 25px 15px; }
    .contacts .desk form input {
      max-width: 100%;
      text-align: center; } }

@media screen and (min-width: 768px) {
  .block-first-screen .fixed-top-menu {
    min-height: 65px; }
    .block-first-screen .fixed-top-menu .header .navbar-header {
      display: none; } }

@media screen and (max-width: 767px) {
  .block-first-screen .header-container header {
    align-items: flex-start;
    padding-top: 6px; }
    .block-first-screen .header-container header .header {
      width: 100%; }
    .block-first-screen .header-container header .menu {
      width: 100%;
      background-image: url("../img/system/pattern.png"), linear-gradient(to top, #106CF2, #106CF2);
      top: 60px;
      position: absolute;
      z-index: 15;
      box-shadow: 0 0 7px 0; }
      .block-first-screen .header-container header .menu ul {
        display: flex;
        flex-wrap: wrap; }
        .block-first-screen .header-container header .menu ul li {
          width: 50%;
          text-align: center;
          font-size: 14px; }
          .block-first-screen .header-container header .menu ul li .li-bg {
            display: none; }
      .block-first-screen .header-container header .menu .social-networks {
        display: block; }
  .block-first-screen .header-container .fixed-top-menu {
    padding-bottom: 5px;
    padding-top: 5px; }
  .block-our-affairs {
    padding: 0 0 40px; }
    .block-our-affairs .to-do-list .scrollbar {
      padding-left: 15px; }
    .block-our-affairs .to-do-list .nav-tabs {
      max-height: 167px; }
    .block-our-affairs .to-do-desk table tr td:nth-child(odd) {
      padding-left: 15px;
      min-width: inherit;
      vertical-align: top; }
  .block-primary-customer {
    padding: 10px 15px 10px;
    max-height: inherit;
    height: auto;
    background-color: #79ACF9;
    color: #fff;
    font-size: 13px; }
    .block-primary-customer .block-title {
      font-size: 16px;
      line-height: 25px;
      color: #fff; }
    .block-primary-customer p {
      font-size: 13px;
      margin: 10px auto; }
    .block-primary-customer .block-bg {
      display: none; }
  .block-descroption {
    position: relative;
    height: auto; }
    .block-descroption .description-desc {
      padding: 10px 15px;
      position: relative;
      top: auto;
      bottom: 56px;
      max-height: inherit;
      height: auto; }
      .block-descroption .description-desc .left-column {
        font-size: 14px; }
      .block-descroption .description-desc .right-column {
        font-size: 11px; }
  .block-services {
    padding-top: 0;
    padding-bottom: 50px;
    background-size: cover;
    background-position: bottom; }
    .block-services .block-title {
      padding-bottom: 10px; }
  .block-about .owl-theme .item .desk {
    max-width: 100%;
    margin: 0; }
  .block-advantages {
    padding: 0 25px 0; }
    .block-advantages .desk-container {
      height: auto;
      display: block; }
      .block-advantages .desk-container .desk {
        position: relative; }
  .news .owl-carousel {
    padding: 0 15px; }
  .block-download-price {
    background-image: url(../img/system/pattern.png), linear-gradient(to right, #106cf2, #106cf2); }
  .modal-dialog .modal-content .modal-header .modal-title {
    padding: 0 75px 0 15px;
    font-size: 30px; }
  .modal-dialog .modal-content .modal-body {
    padding: 25px 15px; } }

@media screen and (max-width: 741px) {
  .block-advantages .desk-container {
    border: none; }
    .block-advantages .desk-container .desk {
      margin: 0;
      max-height: none;
      height: auto; }
      .block-advantages .desk-container .desk .title {
        padding: 0 15px; } }

@media screen and (min-width: 666px) and (max-width: 769px) {
  .block-first-screen .site-name .logo img {
    max-width: 75px; }
  .block-first-screen .site-name .logo h1 {
    font-size: 34px;
    padding: 0 15px; }
  .block-first-screen .site-name .block-title {
    font-size: 35px; } }

@media screen and (max-width: 666px) {
  .block-first-screen .site-name .logo img {
    max-width: 37px; }
  .block-first-screen .site-name .logo h1 {
    font-size: 17px;
    padding: 0 15px; }
  .block-first-screen .site-name .block-title {
    font-size: 22px;
    padding: 0;
    margin-top: 10px;
    line-height: 40px; } }

@media screen and (max-width: 600px) {
  .block-our-affairs .to-do-list .title {
    font-size: 16px; }
  .block-our-affairs .to-do-list .nav-tabs li {
    font-size: 12px; }
    .block-our-affairs .to-do-list .nav-tabs li a {
      padding: 3px 15px; } }

@media screen and (min-width: 475px) and (max-width: 768px) {
  .block-services .item ul {
    font-size: 16px; }
    .block-services .item ul li {
      padding: 10px 0; }
  .block-title {
    font-size: 26px; } }

@media screen and (max-width: 475px) {
  .block-first-screen .header-container .fixed-top-menu .menu .call-number-mobile {
    display: block; }
  .block-first-screen .header-container .fixed-top-menu .header .fixed-menu-logo {
    margin: auto; }
  .block-first-screen .fixed-top-menu .fixed-menu-logo {
    width: 145px; }
    .block-first-screen .fixed-top-menu .fixed-menu-logo img {
      max-width: 38px;
      max-height: 27px; }
    .block-first-screen .fixed-top-menu .fixed-menu-logo h1 {
      font-size: 18px; }
    .block-first-screen .fixed-top-menu .fixed-menu-logo p {
      font-size: 5px; }
  .block-first-screen .fixed-top-menu .call-number {
    display: none; }
  .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 21px; }
  .modal-dialog .modal-content .modal-body {
    font-size: 18px; } }

@media screen and (max-width: 474px) {
  .block-title {
    font-size: 16px; }
  .block-advantages .desk-container .desk .title {
    font-size: 16px;
    font-family: "GothamProBlack"; }
  .block-advantages .desk-container .desk p {
    font-size: 14px; }
  .block-services .item ul {
    font-size: 12px; }
    .block-services .item ul li {
      padding: 5px 0; }
      .block-services .item ul li a i {
        margin: 0 25px 0 0; } }
