@charset "UTF-8";
/* Смежные классы */
body {
  font-family: "GothamProRegular";
  color: #2A353B; }

.block-title {
  font-family: "GothamProBlack";
  font-size: 35px;
  text-align: center;
  color: #2A353B;
  text-transform: uppercase; }

input, button, textarea {
  outline: none; }

.btn-blue {
  border: none;
  background-color: #106CF2;
  font-family: GothamProLight;
  height: 40px;
  max-width: 270px;
  width: 100%; }

.navs {
  width: 67px;
  display: flex;
  margin: 25px auto;
  justify-content: space-between; }
  .navs .btn-prev, .navs .btn-next {
    background-color: transparent;
    border: 0;
    opacity: 0.4;
    transition: 0.2s; }
    .navs .btn-prev:hover, .navs .btn-next:hover {
      opacity: 1; }
    .navs .btn-prev img, .navs .btn-next img {
      width: 17px; }
  .navs .btn-prev img {
    transform: rotate(180deg); }

/* end Смежные классы */
/* преимущества */
.block-advantages {
  width: 100%;
  padding: 75px 0 150px;
  background-image: linear-gradient(to top, #ffffff, transparent, #ffffff), url("../img/system/pattern.png"); }
  .block-advantages .desk-container {
    margin: auto;
    max-width: 1166px;
    border: 5px solid #106CF2;
    max-height: 696px;
    height: 100vh;
    display: flex;
    align-items: center; }
    .block-advantages .desk-container .desk {
      max-width: 954px;
      max-height: 819px;
      height: 100vh;
      margin: auto;
      text-align: center;
      background-image: url("../img/system/advantages-desk-bg.png"), linear-gradient(to top, #E9F7FF, #E9F7FF);
      position: absolute;
      left: 0;
      right: 0;
      color: #05439D;
      padding: 175px 40px; }
      .block-advantages .desk-container .desk .title {
        text-transform: uppercase;
        font-size: 35px;
        font-family: "GothamProBold";
        padding: 0 115px; }
      .block-advantages .desk-container .desk .owl-carousel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse; }
        .block-advantages .desk-container .desk .owl-carousel .owl-dots {
          margin: 15px 0; }
          .block-advantages .desk-container .desk .owl-carousel .owl-dots .owl-dot span {
            background-color: rgba(16, 108, 242, 0.4);
            transition: 0.2s; }
          .block-advantages .desk-container .desk .owl-carousel .owl-dots .active span {
            background-color: #106CF2; }
      .block-advantages .desk-container .desk p {
        font-size: 24px; }

/* end преимущества */
/* о нас */
.block-about .owl-theme .item {
  max-width: 383px;
  width: 100%;
  max-height: 610px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; }
  .block-about .owl-theme .item img {
    position: absolute;
    width: auto;
    height: max-content; }
  .block-about .owl-theme .item strong {
    font-family: "GothamProBold";
    font-size: 25px; }
  .block-about .owl-theme .item .desk {
    position: absolute;
    text-align: center;
    max-width: 314px;
    max-height: 202px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px 25px;
    bottom: 0;
    color: #2A353B;
    left: 0;
    right: 0;
    margin: 0 auto 30px; }
    .block-about .owl-theme .item .desk .name {
      font-family: "GothamProRegular";
      font-size: 20px;
      line-height: 23px;
      margin: 0; }
    .block-about .owl-theme .item .desk .position {
      font-family: "GothamProLighItalic";
      color: #4A91F9;
      font-size: 17px; }
      .block-about .owl-theme .item .desk .position:after {
        content: '';
        display: block;
        height: 0;
        box-shadow: 0 0 0 2px #05439D;
        width: 61px;
        margin: 10px auto; }
    .block-about .owl-theme .item .desk .description {
      font-size: 17px;
      display: block;
      padding-top: 10px;
      font-family: "GothamProLighItalic";
      line-height: 20px; }
      .block-about .owl-theme .item .desk .description p {
        margin: 0; }
      .block-about .owl-theme .item .desk .description span {
        font-family: "GothamProMediumItalic"; }
  .block-about .owl-theme .item .mask-camera {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: 0.2s; }

.block-about .owl-theme .item-photo {
  align-items: center; }
  .block-about .owl-theme .item-photo:hover .mask-camera {
    opacity: 1; }

.block-about .owl-theme .item-info {
  background-color: #106CF2;
  background-image: url("../img/content/about/4.png");
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-family: "GothamProRegular";
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }
  .block-about .owl-theme .item-info .title {
    font-size: 30px;
    text-transform: uppercase; }
    .block-about .owl-theme .item-info .title:after {
      content: '';
      display: block;
      height: 0;
      box-shadow: 0 0 0 2px #05439D;
      width: 61px;
      margin: 25px auto; }
    .block-about .owl-theme .item-info .title strong {
      font-size: 30px; }
  .block-about .owl-theme .item-info .description {
    font-size: 16px;
    padding-top: 15px; }

/* end о нас */
/* наши дела */
.block-our-affairs {
  display: flex;
  justify-content: space-between;
  padding: 55px 0 40px; }
  .block-our-affairs .to-do-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .block-our-affairs .to-do-list .title {
      font-size: 35px;
      font-family: "GothamProBlack";
      color: #05439D;
      text-transform: uppercase; }
    .block-our-affairs .to-do-list .scrollbar {
      direction: rtl;
      text-align: left;
      padding-left: 35px;
      position: relative; }
      .block-our-affairs .to-do-list .scrollbar ::-webkit-scrollbar-button {
        width: 5px;
        height: 0px; }
      .block-our-affairs .to-do-list .scrollbar ::-webkit-scrollbar-track {
        background-image: linear-gradient(to left, transparent, transparent, #DADFDF, transparent, transparent); }
      .block-our-affairs .to-do-list .scrollbar ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0;
        border-radius: 5px;
        background-color: #05439D; }
      .block-our-affairs .to-do-list .scrollbar ::-webkit-resizer {
        width: 4px;
        height: 0; }
      .block-our-affairs .to-do-list .scrollbar ::-webkit-scrollbar {
        width: 5px; }
    .block-our-affairs .to-do-list .nav-tabs {
      border: none;
      max-height: 480px;
      overflow-y: auto;
      overflow-x: hidden;
      padding-left: 10px;
      max-width: 530px;
      position: relative; }
      .block-our-affairs .to-do-list .nav-tabs li {
        float: none;
        font-size: 18px;
        padding: 5px 0;
        direction: ltr; }
        .block-our-affairs .to-do-list .nav-tabs li a {
          border: none;
          color: #2A353B;
          transition: 0.2s; }
          .block-our-affairs .to-do-list .nav-tabs li a:hover {
            color: #366AB5;
            background-color: transparent; }
      .block-our-affairs .to-do-list .nav-tabs .active {
        font-family: "GothamProBold"; }
  .block-our-affairs .to-do-desk {
    max-height: 614px;
    height: 100vh;
    max-width: 1168px;
    width: 100%;
    background-color: rgba(218, 223, 223, 0.22);
    padding: 25px 0;
    top: 40px;
    position: relative; }
    .block-our-affairs .to-do-desk table tr {
      font-size: 13px; }
      .block-our-affairs .to-do-desk table tr td {
        padding: 15px;
        min-width: 170px; }
        .block-our-affairs .to-do-desk table tr td:nth-child(odd) {
          color: #05439D;
          padding-left: 55px; }
      .block-our-affairs .to-do-desk table tr .text16px {
        font-size: 16px; }
    .block-our-affairs .to-do-desk table .itog {
      position: absolute;
      margin: 10px 0 0; }
      .block-our-affairs .to-do-desk table .itog:before {
        height: 1px;
        width: 239px;
        display: block;
        position: absolute;
        content: '';
        background-color: rgba(42, 53, 59, 0.4); }
      .block-our-affairs .to-do-desk table .itog td:nth-child(even) {
        font-family: "GothamProBold"; }

/* end наши леоа */
/* Новости компании */
.news {
  padding: 35px 0; }
  .news .owl-carousel {
    padding-left: 60px; }
    .news .owl-carousel .owl-item .item .new {
      color: #2A353B;
      font-size: 14px;
      font-family: "GothamProLight";
      transition: 0.2s;
      margin: 25px 0 35px; }
      .news .owl-carousel .owl-item .item .new .date {
        opacity: 0.5;
        margin: 0; }
      .news .owl-carousel .owl-item .item .new .title {
        font-size: 26px;
        font-family: GothamProBold;
        margin: 0 0 10px;
        transition: 0.2s; }
      .news .owl-carousel .owl-item .item .new .description {
        font-family: "GothamProLight"; }
      .news .owl-carousel .owl-item .item .new:after {
        content: '';
        display: block;
        width: 93px;
        height: 0;
        box-shadow: 0 0 0 2px #79ACF9;
        transition: 0.2s;
        position: relative;
        top: 10px; }
      .news .owl-carousel .owl-item .item .new:hover:after {
        box-shadow: 0 0 0 2px #106CF2;
        width: 183px; }
      .news .owl-carousel .owl-item .item .new:hover .title {
        color: #106CF2; }

/* end Новости компании */
/* контакты */
.contacts {
  display: flex;
  flex-wrap: wrap; }
  .contacts .desk {
    background-image: linear-gradient(to top, rgba(42, 53, 59, 0.65), rgba(42, 53, 59, 0.65)), url("../img/system/contacts-desk-bg.jpg");
    width: 50%;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    padding: 95px 0;
    max-height: 650px;
    height: 100vh; }
    .contacts .desk .title {
      font-size: 35px;
      font-family: "GothamProBlack";
      text-transform: uppercase; }
    .contacts .desk img {
      max-height: 29px;
      margin: 10px 0 15px; }
    .contacts .desk p span {
      font-size: 14px; }
    .contacts .desk form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 65px; }
      .contacts .desk form input {
        max-width: 250px;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #79ACF9;
        transition: 0.2s;
        font-family: "GothamProMedium";
        margin: 10px 0; }
        .contacts .desk form input:focus {
          border-color: #ffffff; }
      .contacts .desk form ::-webkit-input-placeholder {
        color: #ffffff;
        font-family: "GothamProLight"; }
      .contacts .desk form textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        resize: none;
        border-bottom: 1px solid #ffffff;
        margin: 15px 0 35px; }
      .contacts .desk form .btn-blue {
        margin: auto; }
  .contacts .map {
    width: 50%;
    max-height: 650px;
    height: 100vh; }

/* end контакты */
/* футер */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  background-color: #05439D;
  color: #ffffff;
  font-size: 12px;
  padding: 0 55px; }
  footer .copiright {
    font-family: "GothamProMedium"; }
  footer .social-networks img {
    height: 13px; }
  footer .develop {
    font-family: "GothamProLight"; }
    footer .develop a {
      color: #ffffff;
      border-bottom: 1px solid;
      font-family: "GothamProMedium"; }

/* end футер */
