@media screen and (max-width: 767px){

  header {
    .menu {
      text-align: center;
      .navbar-hide:after {
        display: block;
        height: 1px;
        width: 100%;
        content: '';
        background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(0,0,0, 0.15),rgba(255,255,255,0));
      }
    }
  }
}