/* font-family: "IntroRustG"; */

@font-face
  font-family: "IntroRustG"
  src: url("../fonts/IntroRustG-Base.otf")
  font-style: normal
  font-weight: normal

/* font-family: "GothamProRegular"; */

@font-face
  font-family: "GothamProRegular"
  src: url("../fonts/GothamProRegular.ttf")
  font-style: normal
  font-weight: normal

/* font-family: "GothamProRegular"; */

@font-face
  font-family: "GothamProBold"
  src: url("../fonts/GothamProBold.ttf")
  font-style: normal
  font-weight: normal

/* Смежные классы */

div img
  max-width: 100%
  max-height: 100%

.main-content
  max-width: 1770px
  margin: auto

button, input
  outline: none
/* End Смежные классы */
$light-orange: #ffb74f
$orange: #FF9600
$gray: #B3B8B3

body
  font-family: "GothamProRegular", "Helvetica Neue", "Helvetica,Arial,sans-serif" !important
  letter-spacing: 1px

.screen-one
  background-size: cover
  height: 100vh
  overflow: hidden
  .item
    .main-content
      right: 5px
      position: absolute
      z-index: 1
      text-align: right
      font-family: "Gotham Pro"
      font-size: 22pt
      padding-right: 70px
      color: #fff
      top: 82vh
      span
        color: $orange
  .owl-carousel
    position: absolute
    overflow: hidden
    max-height: 100vh
  .block-content
    padding-top: 108px;

.navbar-setting
  background-color: #fff
  -webkit-transition: all 0.25s
.nav-default
  background-color: rgba(35, 35, 35, 0.20)
  -webkit-transition: all 0.25s
header
  padding: 10px 0
  .logo
    width: 180px
    height: 52px
  .main-content
    max-width: 1770px
    width: 100%
    margin: auto
    display: flex
    align-items: center
    flex-wrap: wrap

    .menu

      a
        font-family: "IntroRustG"
        font-size: 1.55rem
        color: #ffffff
        transition: 0.2s

      a:hover, a:focus
        color: $orange
        transition: 0.2s
        background-color: transparent

      .active a
        color: $orange

    .call-number
      display: block
      margin: auto
      font-size: 1.8rem
      p
        margin: 0

      a
        color: $orange
        font-family: "Gotham Pro"
    .city
      color: #fff
      margin: auto

      label
        margin: 0

      .select
        background-color: transparent
        border: none
        font-family: "IntroRustG"
        padding: 0

.navbar-setting
  .main-content
    .menu
      li
        a
          color: $orange


      .active
        a
          color: #810C74
          
.dark-color
  ul
    a
      color: rgba(129, 12, 116, 0.4)
      -webkit-transition: all 0.25s
    a:hover, a:focus
      color: #810C74
      text-decoration: none
    .active
      color: #810C74
      font-family: "GothamProBold"

.left-menu
  display: flex
  max-width: 265px
  position: fixed
  z-index: 2
  top: 71px
  padding: 0 0 0 75px
  height: 100vh
  font-size: 16px
  a
    -webkit-transition: all 0.25s
    color: #fff


  ul
    padding: 15px

  li
    padding: 10px 0
  .social-network
    display: flex
    align-items: center
    div
      background-position: center
      background-repeat: no-repeat
    .vk
      height: 23px
      width: 23px
      margin-right: 5px
      background-image: url("../svg/icon-vk.svg")

    .insta
      background-image: url("../svg/icon-insta.svg")
      height: 13px
      width: 13px

.screen-three
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), #fff), url("../img/system/screen3.jpg")
  background-repeat: no-repeat
  background-size: cover
  padding-top: 80px
  height: 100vh
  .cell
    padding: 0 15px

  .description
    color: #232323
    font-size: 13pt

.content
  display: flex
  justify-content: center
  flex-wrap: wrap
  max-width: 1300px;
  margin: auto

  .cell
    width: 314px
    text-align: center
    display: flex
    flex-wrap: wrap
    margin: 30px 0
    .image
      margin: 0 auto
      max-width: 160px
      width: 100%
      max-height: 143px
      height: 100%
      margin-bottom: 15px
    .title
      color: $orange
      font-size: 20pt
      font-family: IntroRustG
      width: 100%
      padding: 0 15px

.screen-fourth
  height: 100vh
  padding-top: 107px
  .image
    max-width: 194px
    margin: 30px 50px
    display: flex
    align-items: center
  .title
    font-size: 18pt
    color: $gray
    transition: 0.2s

.screen-five
  padding-top: 100px
  .yars
    max-width: 1000px
    margin: 0 auto 40px auto
    .nav-tabs
      border: none
      display: flex
      justify-content: center
      height: 95px
      align-items: flex-end
      width: 83%

      li
        margin: 0 15px
        position: relative
        font-size: 13pt
        font-family: IntroRustG
        color: $gray
        display: flex
        flex-wrap: wrap
        justify-content: center
        max-width: 64px
        transition: 0.2s
        a
          i
            position: relative
            display: block
            text-align: center
            background-color: #B3B8B3
            border-radius: 100%
            width: 7px
            height: 7px
            padding: 0
            margin: 0
            transition: 0.2s
        a:hover, a:focus
          background-color: transparent
          border: none
          padding: 11px
          i
            background-color: $orange
            transition: 0.2s
      .all-time
        min-width: 200px
        position: relative
        right: 115px
        p
          width: 100%
          text-align: center
      .active
        color: $orange
        font-size: 20pt
        transition: 0.2s
        a
          border: none
          background-color: transparent
          i
            width: 10px
            height: 10px
            background-color: $orange
            padding: 0
            border-radius: 100%
            transition: 0.2s
        a:hover, a:focus
          padding: 10px

  .yars:after
    display: block
    content: ''
    height: 1px
    width: 100%
    background-color: $gray
    background-image: linear-gradient(to right, transparent, transparent, transparent, #fff)
    position: relative
    bottom: 15px
    z-index: -1

  .description
    color: $gray
    font-size: 18pt
  .subject
    font-size: 18pt
  .value
    color: $orange
    font-family: IntroRustG
    font-size: 80pt
    line-height: 80px
  .cell
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 60px 15px
    p
      width: 100%
      margin: 0
.light-footer
  background-color: rgba(235, 237, 235, 0.6)
.footer
  display: flex
  min-height: 70px
  align-items: center
  -webkit-transition: all 0.25s
  opacity: 0

  .main-content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 1770px
    width: 100%
    margin: auto

    .want-a-discount
      button
        background-color: transparent
        border: none
        color: $orange
        font-size: 15pt

    .copiright
      display: flex
      color: #fff

    .zamanuha
      display: flex
      width: 43.375rem
      color: $gray;
      font-family: "Gotham Pro";
      font-size: 1.3rem;

    .forma
      .application
        background-color: #33042F
        border: none
        color: #fff
        height: 30px
        width: 160px

    .want-a-discount
      display: flex

    .forma
      display: flex
      flex-wrap: wrap

      input[type=text]
        width: 160px
        height: 30px
        background-color: rgba(255, 255, 255, 0.5)
        border: none
        -webkit-border-radius: 3px
        margin: 0 10px
        padding: 0 15px

      input:focus::-webkit-input-placeholder
        opacity: 0
        transition: 0.2s

      ::-webkit-input-placeholder
        color: #fff
        transition: 0.2s


.slide-progress
  width: 0
  max-width: 100%
  height: 4px
  background: #7fc242
