@font-face {
    font-family: "Playfair Display SC";
    src: url("PlayfairDisplaySC-BoldItalic.eot"); /* IE9 */
    src: url("PlayfairDisplaySC-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("PlayfairDisplaySC-BoldItalic.woff") format("woff"), /* chrome, firefox */
    url("PlayfairDisplaySC-BoldItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("PlayfairDisplaySC-BoldItalic.svg#Playfair Display SC") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


