@font-face {
    font-family: "AA Neon";
    src: url("AA-Neon.eot"); /* IE9 */
    src: url("AA-Neon.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("AA-Neon.woff") format("woff"), /* chrome, firefox */
    url("AA-Neon.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("AA-Neon.svg#AA Neon") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


