@font-face {
    font-family: "Gotham Pro";
    src: url("GothamProBold.eot"); /* IE9 */
    src: url("GothamProBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("GothamProBold.woff") format("woff"), /* chrome, firefox */
    url("GothamProBold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("GothamProBold.svg#Gotham Pro") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


