/* font-family: "CorsicaLX-Regular"; */

@font-face {
  font-family: "CorsicaLX-Regular";
  src: url("../fonts/CorsicaLX-Regular.otf");
  font-style: normal;
  font-weight: normal;
}


/* font-family: "CorsicaLX-Medium"; */

@font-face {
  font-family: "CorsicaLX-Medium";
  src: url("../fonts/CorsicaLX-Medium.otf");
  font-style: normal;
  font-weight: normal;
}


/* font-family: "CorsicaLX-Bold"; */

@font-face {
  font-family: "CorsicaLX-Bold";
  src: url("../fonts/CorsicaLX-Bold.otf");
  font-style: normal;
  font-weight: normal;
}


/*--------------Смежные классы--------------*/

.nav>li>a:focus, .nav>li>a:hover {
  background: none;
}

a:hover, a:focus, input, button {
  text-decoration: none;
  outline: none;
}

.owl-theme .owl-dots .owl-dot {
  margin: 4px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.owl-theme .owl-dots .owl-dot span {
  background: transparent;
  margin: 0;
  width: 6px;
  height: 6px;
  transition: 0.2s;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #77afcb;
  transition: 0.2s;
}

.owl-theme .owl-dots .active {
  border: none;
  position: relative;
  bottom: 2px;
}

.bg-slider .position-dots {
  bottom: 105px;
  position: relative;
  text-align: left;
}

.navbar-header {
  position: relative;
  z-index: 2;
}


/*--------------end Смежные классы--------------*/


/*--------------Стартовая--------------*/

header {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  padding-top: 31px;
}

.top-logo, .logo {
  max-height: 47px;
  max-width: 229px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.top-logo svg, .logo svg {
  height: 100%;
  width: 100%;
}

.top-menu-fixed {
  position: fixed;
  background: #453b3c;
  padding: 12px 0;
}

.navbar-brand {
  padding: 0;
}

.social-networks {
  padding: 8px;
  position: absolute;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
}

.radial-cell {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 100%;
  background-color: #8b7c72;
  text-align: center;
  display: inline-table;
  transition: 0.8s;
  transform: rotate(0deg);
}

.radial-cell:hover {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #8b7c72;
  text-align: center;
  display: inline-table;
  transition: 0.8s;
  transform: rotate(360deg);
}

.radial-cell .fa {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 17px;
}

.navbar-hide {
  font-family: "CorsicaLX-Bold";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-hide a {
  color: #ffffff;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

.slide-content {
  display: table-cell;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.28);
}

.start-page .an-screen {
  height: 100vh;
  min-height: 320px;
  max-height: 701px;
  background-position-x: center;
  display: table;
  width: 100%;
}

.start-page .an-screen-one {
  background: url('../images/content/slider-one/screen-one.jpg');
  background-position: center;
  background-size: cover;
}

.start-page .an-screen-two {
  background: url('../images/content/slider-one/screen-two.jpg');
  background-position: center;
  background-size: cover;
}

.start-page .an-screen-three {
  background: url('../images/content/slider-one/screen-three.jpg');
  background-position: center;
  background-size: cover;
}

.start-page h1, .slider-two h1 {
  color: #77afcb;
  font-family: "CorsicaLX-Bold";
  font-size: 3.95rem;
  font-weight: 600;
  line-height: 4.9rem;
  letter-spacing: 1px;
}

.start-page h2, .slider-two h2 {
  max-width: 29.5em;
  height: 6.688rem;
  color: #ffffff;
  font-family: "CorsicaLX-Regular";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.875rem;
  letter-spacing: 1px;
  word-wrap: break-word;
  width: 100%;
}


/*--------------end Стартовая--------------*/


/*--------------опрос/купон--------------*/

.coupons .cell {
  max-width: 570px;
  width: 100%;
  max-height: 470px;
  display: table;
  margin: 0 auto 25px auto;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.opros {
  background: url('../images/system/opros.jpg');
}

.coupon {
  background: url('../images/system/coupon.jpg');
}

.coupons .mask {
  padding: 15px;
  display: table-cell;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.55);
}

.mask-text {
  height: 55%;
}

.coupons .mask p {
  color: #ffffff;
  font-family: "CorsicaLX-Regular";
  font-size: 1.583rem;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2.788rem;
  padding-bottom: 20px;
}

.coupon .mask p {
  font-family: "CorsicaLX-Medium";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.5rem;
  padding-top: 15px;
}

.coupon .mask span {
  color: #d7b7a6;
}

.btn-blue {
  max-width: 32.875rem;
  width: 100%;
  height: 6.925rem;
  background-color: #77afcb;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-family: "CorsicaLX-Regular";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  outline: none;
  transition: 0.3s;
}


/*--------------end опрос/купон--------------*/


/*--------------десерты--------------*/

.dessert {
  margin-bottom: 15px;
}

.dessert .content, .coupons .content {
  overflow: hidden;
}

.dessert .column-one, .dessert .column-two, .dessert .column-three {
  display: inline-block;
}

.dessert .column-three {
  max-width: 228px;
}

.width-cell {
  width: 454px;
  height: 228px;
  display: inline-block;
  overflow: hidden;
}

.height-cell {
  width: 225px;
  height: 461px;
  display: inline-block;
  overflow: hidden;
}

.dessert .cell {
  width: 224px;
  height: 228px;
  display: inline-block;
  overflow: hidden;
}

.dessert img {
  transition: 0.8s;
}

.dessert img:hover {
  transition: 0.8s;
  transform: scale(1.2);
}


/*--------------end десерты--------------*/


/*--------------слайдер 2--------------*/

.slider-two h2 {
  max-width: 33em;
}

.slider-two .an-screen {
  max-height: 575px;
  background-position-x: center;
  display: table;
  width: 100%;
  height: 100vh;
}

.slider-two .an-screen-one {
  background: url('../images/content/slider-two/screen-one.jpg');
  background-position: center;
  background-size: cover;
}

.slider-two .an-screen-two {
  background: url('../images/content/slider-two/screen-two.jpg');
  background-position: center;
  background-size: cover;
}

.slider-two .an-screen-three {
  background: url('../images/content/slider-two/screen-three.jpg');
  background-position: center;
  background-size: cover;
}

.slider-two .an-screen-four {
  background: url('../images/content/slider-two/screen-four.jpg');
  background-position: center;
  background-size: cover;
}

.slider-two .an-screen-five {
  background: url('../images/content/slider-two/screen-five.jpg');
  background-position: center;
  background-size: cover;
}

.slider-two .owl-theme .owl-nav.disabled+.owl-dots {
  bottom: 15px;
  position: absolute;
  left: 0;
  right: 0;
}


/*--------------end слайдер 2--------------*/


/*--------------карта--------------*/

.map {
  max-height: 590px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


/*--------------end карта--------------*/


/*--------------footer--------------*/

footer {
  padding: 10px 0 5px 0;
}

footer .navbar-hide a {
  color: #000;
}


/*--------------end footer--------------*/


/*--------------Модальные окна--------------*/

.modal-header, .modal-footer {
  border: none;
}

.modal-title {
  color: #77afcb;
  font-family: "CorsicaLX-Bold";
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.modal-content {
  background: #edeff0;
}

.modal-body input {
  background: transparent;
  border: 2px solid #d7b7a6;
  box-shadow: inset 0 0 5px 0 #d7b7a6;
  padding: 5px 8px;
  border-radius: 3px;
  font-family: "CorsicaLX-Regular";
  font-size: 20px;
  margin-top: 15px;
}

.section-stars {
  direction: rtl;
  height: 32px;
}

.btn-star {
  background: transparent;
  border: none;
}

.fa-star {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.34);
  transition: 0.3s;
  padding: 0 9px;
}

.fa-star:hover~.fa-star, .fa-star:hover {
  color: rgba(255, 152, 0, 0.48);
  transition: 0.3s;
}

.star-active~.fa-star, .star-active {
  color: rgba(255, 152, 0, 0.48);
  transition: 0.3s;
}

button[disabled] {
  background: #c1c1c1;
  color: #f1f1f1;
  transition: 0.3s;
}


/*--------------end Модальные окна--------------*/
