@font-face {
    font-family: "Yandex Sans Text Regular";
    src: url("sans-regular.eot"); /* IE9 */
    src: url("sans-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("sans-regular.woff") format("woff"), /* chrome, firefox */
    url("sans-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("sans-regular.svg#Yandex Sans Text Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


